body {
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: beige;
}

header {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    padding: 25px;
}

main {
    background-color: rgb(81, 69, 0);
    color: white;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.main-text {
    padding-top: 50px;
}

.main-text h2 {
    margin-bottom: 10px;
    font-size: 1.9rem;
}

.weapons {
    margin: 50px 0;
}

.weapons button {
    background-color: beige;
    margin: 0 20px;
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 25px;
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s;
}

.weapons button:hover {
    opacity: 0.8;
}

.weapons button:active {
    transform: scale(0.85);
}

.result {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.score {
    margin-bottom: 30px;
}

.score p {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.sign {
    font-size: 2.25rem;
}

#score-header,
#score-text {
    color: rgb(255, 225, 0);
}

#score-header {
    margin-bottom: 15px;
}
